NODE_ENV=development
MAIN_SERVER_URL=http://localhost:4001
SUB_SERVER_URL=http://localhost:4000

# NODE_ENV=production
# MAIN_SERVER_URL=https://express-goyoung2.onrender.com
# SUB_SERVER_URL=https://go-fastify.onrender.com
